.OpeningHours {
  flex: 1;
  margin-left: 2.5rem;

  > .title {
    font-family: montserratbold;
    font-size: 24px;
    font-weight: bold;
  }

  > .days {
    margin-top: 1.5rem;
    margin-bottom: -0.75rem;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 15rem;

    > .day {
      display: flex;
      align-items: center;
      padding: 0.75rem 0;

      > .name {
        min-width: 5rem;
        max-width: 5rem;

        font-family: montserratbold;
        font-size: 18px;
        font-weight: bold;
      }

      > .time {
        flex: 1;

        font-family: montserratmedium;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
