@import "styles/Mixin.scss";

.venues-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 40px;
  margin-top: 80px;
  min-height: 300px;

  @include medium {
    row-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    > .PlaceHolderVenuesList {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
    > .PlaceHolderVenuesList {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include extraLarge {
    > .PlaceHolderVenuesList {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  > .VenueCard {
    place-self: center;
  }
}
