// Primari color
$color-grey: #5C6466;
$color-grey1: #c7c7cc;
$color-grey2: #8e8e93;
$color-grey3: #e5e5ea;
$color-grey4: #c9cccd;
$color-white: #ffffff;
$color-black: #000000;

// buttons
$color-yellow: #ffbd00;

//activity
$color-sucess: #13e94f;
$color-alert: #f67a2b;
$color-warning: #db0000;

// Font-Weights
$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$black: 900;
